@use '../variables.scss' as *;
@use "sass:map";

.header
{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    box-sizing: border-box;

    .logo {
        display: flex;
        gap: 8px;
        flex-direction: row;
        align-items: center;

        .logoText {
            font-size: 20px;
        }

        .darkText
        {
            color: #ffffff;
        }

        .lightText
        {
            color: #000000;
        }
    }

    .rightPart
    {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;

        .profile
        {
            display: flex;
            flex-direction: row;
            gap: 8px;
            align-items: center;

            .name
            {
                margin: 0;
                font-size: 20;
            }
        }
        
    }
}

.dark
{
    background-color: map.get($dark-colors, main);
}

.light
{
    background-color: map.get($light-colors, main);
}

