@use '../../../../../components/variables.scss' as *;
@use "sass:map";

.row
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .procent
    {
        font-size: 20px;
        color: #92949C;
    }
}