:root[data-theme="light"] {
    --background-color: #E4E6D9;
    --text-color: #000000;
}
  
:root[data-theme="dark"] {
    --background-color: #333646;
    --text-color: #ffffff;
}
  
body {
    background: var(--background-color);
    color: var(--text-color);
}